<div>    
<h1>Home works</h1>
<picture class="container ">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/DT121471_%284725542038%29.jpg/640px-DT121471_%284725542038%29.jpg" alt="bmw maleducado">
</picture>
</div>